body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.animate-in {
    opacity: 1;
    transform: translateY(0);
}

.animated-title {
    font-size: 36px;
    margin-bottom: 20px;
}

.animated-text {
    font-size: 24px;
    margin: 10px 0;
}

.animated-image {
    max-width: 100%;
    height: auto;
}

/* styles.css */

.animated-title {
    font-size: 36px;
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.animated-image {
    max-width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

.animated-text {
    font-size: 24px;
    margin: 10px 0;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

