body {
    height: 150vh;
}

.animate-on-scroll {
    opacity: 0;
    transform: translateY(20px); /* 초기 위치 지정 */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0); /* 나타난 후의 위치 지정 */
}
